svg.bi.bi-search.daodien {
    position: relative;
    right: 28px;
}
input.timhieu {
    padding: 0px 18px;
    border-radius: 20px;
    background: #090808;
    margin-left: -170px;
    margin-top: 20px;
    width: 299px;
}
.search {
    position: relative;
}
.top-header {
    padding-top: 20px;
    background: #3b3a3f;
}
.logo-header {
    display: inline-block;
}
span.phimmoi {
    color: #fff;
    font-size: 23px;
}
p.net {
     color: #bcc620;
}
img.logofilms {
    width: 108px;
    padding-bottom: 16px;
    padding-right: 5px;
}
p.newfilm {
    color: #3fdded;
}
p.net {
    margin-bottom: 1px;
}
hr.thanhngangvang {
    border: 1pt solid#bad32e;
    padding: 2px;
}
.thanhngang {
    margin: -16px;
    background: #d0c546;
}
ul.samphamto {
    list-style-type: none;
    /* display: inline-block; */
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li.sanpham {
    float: left;
}
a.theloai {
    display: block;
    text-align: center;
    padding: 16px;
    color: #fff;
    text-decoration: none;
}
.top-top-header {
    background: #323031;
}
hr.thanhngangba {
    border: 1pt solid#766c6c;
}
.thanhnganghai {
    margin-top: -16px;
    background: #777778;
}
.top-mid-header {
    background: #58565b;
}
.top-mid-header {
    background: #58565b;
    padding-bottom: 42px;
}
h1.phimdecu {
    color: #dacb46;
    font-size: 38px;
    padding-top: 20px;
    margin-bottom: -11px;
}
hr.thanhnangxammot {
    color: #fff;
}
.top-foot-header {
    background: #58565b;
    padding-bottom: 20px;
}
.thanhngangxam {
    background: #eeeaf3;
}
.anhfilmbeauti {
    padding: 22px;
    background: #1a1a1a;
}
.center-top-mid {
    background: #58565b;
    padding-top: 20px;
    padding-bottom: 12px;
}
.thanhba {
    background: #1a1a1a;
    margin-left: -6px;
}
.center-center-mid {
    background: #58565b;
    padding-bottom: 50px;
}
hr.thanhxamgiua {
    margin-top: 0px;
    background: #fff;
}
a.nav-link.active.text-left.thanhxamping {
    background: #1a1a1a;
    color: #fff;
}
a.nav-link.active.text-right.thanhxampi {
    background: #1a1a1a;
    border: none;
    color: #fff;
}
a.nav-link.active.text-left.thanhxamping {
    background: #1a1a1a;
    border: none;
}
a.nav-link.active.text-center.thanhxampin {
    background: #1a1a1a;
    border: #ccc;
    color: #fff;
}
img.ringngay {
    width: 370px;
    height: 806px;
}
img.quangcao {
    width: 1100px;
    margin-left: 23px;
}
img.quangcaodoithuong {
    width: 110%;
    margin-left: -25px;
    margin-top: 57px;
}
img.filmone {
    width: 100%;
    height: auto;
}
.boder-phim {
    border-bottom: 1px dashed #555;
    margin-top: 7px;
}
span.first {
    color: #fff;
}
span.last {
    float: right;
    color: #666;
}
p.leto {
    color: #666;
}
.nav-link {
    display: block;
    padding: 16px 14px;
}
img.td_image_phimchieurapmoi {
    width: 131%;
    display: block;
    padding: 15px;
}
.td_innter_phimchieurapmoi {
    width: 100%;
}
p.td_headline_phimchieurap {
    color: #dacb46;
    text-shadow: 1px 1px 1px #1a1a1a;
    /* margin-right: 22px; */
    padding-left: 22px;
    font-size: 35px;
}
.td_container {
    padding-top: 24px;
    background: #58565b;
    padding-bottom: 40px;
}
.td_header-benphaiphimrapmoi {
    margin-left: 20px;
}
p.td_content_thanghang.trailer {
    display: inline-block;
    color: #dacb46;
    font-size: 22px;
}
img.td_img_star.td_content_thanghang {
    width: 48px;
    margin-bottom: 20px;
    background: #dacb46;
    border-radius: 39px;
}
.td_innter_benphaiphimrapmoi {
    margin-left: 20px;
    height: 600px;
    overflow: hidden;
    overflow: scroll;
    border-radius: 27px;
    padding: 15px;
    background: #333;
    border: 1pt solid#433535;
}
.td_intro_benphairapmoi {
    height: 900px;
    background: #333;
}
img.td_img_benphairapmoi {
    padding-bottom: 20px;
}
p.td_intro_daquy {
    color: #46E1FF;
}
p.td_intro_rungsau {
    color: #fff;
}
.td_description_benphairapmoi {
    border-bottom: 1pt solid#555;
    margin-top: 7px;
}
.td_inner_footer {
    margin-left: 37px;
    margin-top: 39px;
}
.td_inner_footer {
    margin-left: 37px;
}
.td_content_footer {
    margin-top: 20px;
}
img.td_img_footer {
    width: 54px;
    margin-bottom: 10px;
}
span.td_into_footer {
    color: #dacb46;
    margin-left: 10px;
    font-size: 26px;
}
.td_content_footer {
    border: 1pt solid#221e1e;
    border-radius: 9px;
    background: #161618;
    padding: 10px;
}
p.td_headline_p {
    color: #fff;
    border-radius: 10px;
    background: #5c4d4d;
    text-align: center;
}
img.td_img_hosodienvien {
    width: 43px;
}
p.td_intro_hosodienvien {
    color: #dacb46;
    font-size: 25px;
}
p.td_intro_hosodienvien.td_innter_chinhsua {
    display: inline-block;
}
.td_inter_hosodienvien {
    margin-left: 31px;
}
img.td_image_charlie {
    width: 100%;
    border: 1pt solid#201e1e;
    border-radius: 28px;
    background: #181616;
    padding: 10px;
}
.td_innter_human {
    border: 1pt solid#393535;
    background: #141111;
}
p.td_intro_charlie {
    color: #44e2ff;
    margin-left: 23px;
}
.td_inner_thanhvang {
    margin: -16px;
    background: #d0c546;
    margin-bottom: 34px;
}
hr.td_intro_thanhvang {
    border: 1pt solid#bad32e;
    padding: 2px;
}
.td_container_footer {
    padding-top: 34px;
    background: #000;
    padding-bottom: 50px;
}
h4.td_headline_phimle {
    color: #44E2FF;
    padding-bottom: 25px;
}
p.td_headline_sapchieu {
    color: #fff;
}
.td_content_lienhe {
    color: #fff;
}
p.td_content_ip {
    color: #fff;
}
img.td_img_hq {
    width: 134px;
    border-radius: 16px;
    background: #181616;
    margin-left: 36px;
}